@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lima, Peru<br />
    <abbr title="Telefono">Cel:</abbr>
    995990266
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:sistemas@romasoftsystems.com">sistemas@romasoftsystems.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>