@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Untitled Document</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <style>
        html, body {
            margin: 0;
            padding: 0;
        }

        .main {
            /*background-image: url(https://tse4.mm.bing.net/th?id=ORT.TH_470633631&pid=1.12&eid=G.470633631);*/
            background-image: url("Images/fondop2.jpg");
            background-position: bottom;
            overflow: hidden;
            height: 95vh;
        }

        .footer {
            height: 5vh;
            background-color: #ccc;
        }

        .main .title {
            border: 1px solid #fff;
            width: 300px;
            height: 50px;
            text-align: center;
            color: #fff;
            top: calc(80vh - 45%);
            left: 50%;
            position: absolute;
            margin-left: -150px;
        }
    </style>
</head>
<body>
    <div class="main">
        @*<h1 class="title">
            Control de Tickets 
        </h1>*@
    </div>
    <div class="footer">
        © 2022 - Control de Tickets
    </div>
</body>
</html>

@*<!DOCTYPE html>
    <html>
    <head>
        <title>Inicio</title>
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <style>
            html, body {
                margin: 0;
                padding: 0;
            }
            .main {
                /*background-image: url("imagenes/fondo.png");*/
                /*background-image: url(http://www.librosweb.es/website/css/images/logo.gif);*/
                background-image: url("Images/fondop2.jpg");
                overflow:hidden;
                width:100vw;
                height:80vh;
                position:absolute;
            }
            .footer{
                height:20vh;
                background-color:#ccc;
            }
        </style>
    </head>
    <body>
        <div class="main">
            <h1 class="title">
                Este es el titulo
            </h1>
        </div>
        <div class="footer">
            Este es el pie
        </div>
    </body>
    </html>*@


<!--<div class="jumbotron">
    <h1>Control de Tickets 2</h1>
    <img src="~/Images/fondop.jpg" />
<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Inicio</h2>
        <p>-->
@*ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
    enables a clean separation of concerns and gives you full control over markup
    for enjoyable, agile development.*@
<!--</p>-->
@*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
<!--</div>
<div class="col-md-4">-->
@*<h2>Get more libraries</h2>
    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
<!--</div>
<div class="col-md-4">-->
@*<h2>Web Hosting</h2>
    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
<!--</div>
</div>-->
