
@{
    //ViewBag.Title = "UnauthorizedOption";
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>UnauthorizedOption</h2>*@
<br/>
<br />
<br />
<label>Error, no tienes permiso para esta opcion</label>