
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>*@

<h2>Login</h2>
<div class="row">
    @*/Acceso/Login
    ~/Login*@
    <div class="danger">
        @ViewBag.Error 
    </div>   
    <form action="@Url.Content("~/Acceso/Login")" method="post">
        <div class="form-group">
            <label>Usuario</label>
            @*="email"*@
            <input type="text" name="User" />
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" name="Pass" value="" />
        </div>
        <div class="form-group">
            <input type="submit" value="Entrar" class="btn btn-success" />
        </div>
    </form>
</div>